:root {
  --headingBgInput: red;
  --textBgInput: orange;
  --headingColorInput: white;
  --textColorInput: white;
  --fontFamilyInput: 'Roboto', sans-serif;
  --headingSizeInput: 2rem;
  --textSizeInput: 1.6rem;
  --textAlignInput: left;
}

body {
  color: var(--textColorInput);
  font-family: var(--fontFamilyInput);
}

.wrapper {
  display: grid;
  grid-template-columns: 200px 1fr;
}

main {
  background: var(--textBgInput);
  /* background-image:url(''); */
  background-size: cover;
  background-repeat: no-repeat;
  text-align: var(--textAlignInput);
}

main h1 {
  background: var(--headingBgInput);
  color: var(--headingColorInput);
  margin: 0;
  padding: 1rem;
  font-size: var(--headingSizeInput);  
}

main p {
  margin: 0;
  padding: 1rem;
  font-size: var(--textSizeInput);
}

form {
  color: #333;
  font-family: 'Roboto', sans-serif;
}

form label {
  display: block;
}